body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding: 20px;
    background-color: antiquewhite
;}

h2 {
    background-color: aliceblue;
    padding: 5px;
    border-radius: 5px;
}

button {
    color: rgb(127, 127, 221);
    background-color: white;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}

#new-joke-form input {
    padding: 5px;
    border-radius: 5px;
}

#new-joke-form #category, #setup, #delivery  {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(127, 127, 221);
}

ul {
    list-style: none;
}